@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');

/*body 초기화*/
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;  
  }

header {
    width:100%;
    text-align:center;
    background-color:#e7e7e7 
}

  h1 {
    margin: 0.5em 0 0.3em 0;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.8rem;
  }

  #host-link {
    color:rgba(15, 15, 15, 0.637)
  }

  #host-link >  a {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 0.8rem;
    color: rgba(15, 15, 15, 0.637);
    text-decoration: none;
  }

  #host-link > a:hover {
    text-decoration: underline;
   }

nav {
    border: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    background: #051937;
  }

/* ul, li 초기화 */
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

/* main-menu를 가로로 정렬 */
  #main-menu > li {
    float: left;
    position: relative;
  }

/* 대시보드 색깔 지정 */
  #main-menu > li:nth-of-type(1) {
  background-color:#2e3b57;
  }

/* main-menu 디자인 */
  #main-menu > li > a {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 0.85rem;
    color: rgba(223, 221, 221, 0.85);
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.05em;
    display: block;
    padding: 10px 20px;
    border: 1px solid rgba(61, 61, 61, 0.486);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    z-index: 1;
  }

/* sub-menu 감춤 */
  #sub-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: all 0.15s ease-in;
  }

/* main-menu 리스트에 마우스 갖다대면 sub-menu 보이게 함 */
  #main-menu > li:hover #sub-menu {
    opacity: 10;
    visibility: visible;
  }

/* sub-menu 디자인 */
  #sub-menu > li {
    padding: 5px 10px;
    background: #475470;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    z-index:2;
  }

  #sub-menu > li >  a {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 0.8rem;
    color: rgb(255, 255, 255);
    text-align: left;
    text-decoration: none;
  }

  #sub-menu > li >  a:hover {
    text-decoration: underline;
   }
